body {
  margin: 0px 0px;
  padding: 0px 0px;
  top:0;
  left:0;
  background-color:yellow;
  position:relative;
  font-style: Arial, Helvetica, Sans-serif;
}

header {
  position:absolute;
  background-color:grey;
  margin: 0px 0px;
  padding: 0px 0px;
  min-width: 1063px;
  min-height: 270px;
}

 
.name {
  position:absolute;
  background-color:blue;
  left:25%;
  min-width:75%;
  min-height:50%;
}

.name h1{
  position:absolute;
  min-width: 80%;
  max-height: 26%;
  left:10%;
  top:-22%;
  background-color:green;
  text-align:center;
  padding:50px 0px;
  color: white;
  font-size: 45px;
}



.personalInfo { 
  position:absolute;
  background-color:purple;
  left:25%;
  top:50%;
  min-width:75%;
  min-height:50%;
}

.personalInfo ul{
  position:absolute;
  margin: 0px 0px;
  min-width: 95%;
  min-height: 100%;
  background-color:lightblue;
}  

.personalInfo ul li{
  position:relative;
  background-color:red;
  list-style: none;
  display: inline-block;
}


.number img{
  position:absolute;
  max-width: 50px;
  margin-left: 30px;
  margin-top: 25px;
  border-radius: 100px;
}
.number h2{
  position:absolute;
  min-width: 200px;
  margin-left: 90px;
  margin-top: 40px;
  border-radius: 100px;
  font-size: 25px;  
}


.email img{
  position:absolute;
  max-width: 50px;
  margin-left: 250px;
  margin-top: 25px;
  border-radius: 100px;
}
.email h2{
  position:absolute;
  min-width: 200px;
  margin-left: 310px;
  margin-top: 40px;
  border-radius: 100px;
  font-size: 20px; 
}


.address img{
  position:absolute;
  max-width: 50px;
  margin-left: 500px;
  margin-top: 25px;
  border-radius: 100px;
}
.address h2{
  position:absolute;
  min-width: 200px;
  margin-left: 550px;
  margin-top: 40px;
  border-radius: 100px;
  font-size:20px;
}


.profilePicture { 
  position:absolute;
  background-color:red;
  min-width:25%;
  min-height:100%;
}

.profilePicture img{
  position:absolute;
  max-height: 90%;
  left: 5%;
  top: 5%;
  border-radius: 1000px;
}
 

main {
  position:relative;
  background-color:green;
  top:270px;
  max-width: 1080px;
  min-height: 1257px;
  box-sizing: border-box;
}


.workExperience { 
  position:absolute;
  background-color:grey;
  left:25%;
  min-width:75%;
  min-height:80%;
}

.chipotle { 
  position:absolute;
  background-color:red;
  min-width: 100%;
  min-height: 33.3%;
}
.chipotle header{
  position:absolute;
  background-color:purple;
  min-width: 100%;
  min-height: 150px;
  font-size: 16px;
}
.chipotle main{
  position:absolute;
  background-color:lightblue;
  top: 150px;
  min-width: 100%;
  min-height: 190px;
  font-size: 18px;
}


.discountTire { 
  position:absolute;
  background-color:yellow;
  top:33.3%;
  min-width: 100%;
  min-height: 33.3%;
}
.discountTire header{
  position:absolute;
  background-color:purple;
  min-width: 100%;
  min-height: 150px;
  font-size: 16px;
}
.discountTire main{
  position:absolute;
  background-color:lightblue;
  top: 150px;
  min-width: 100%;
  min-height: 190px;
  font-size: 18px;
}

.earleBrownTerrace { 
  position:absolute;
  background-color:brown;
  top:66.6%;
  min-width: 100%;
  min-height: 33.3%;
}
.earleBrownTerrace header{
  position:absolute;
  background-color:purple;
  min-width: 100%;
  min-height: 150px;
  font-size: 16px;
}
.earleBrownTerrace main{
  position:absolute;
  background-color:lightblue;
  top: 150px;
  min-width: 100%;
  min-height: 190px;
  font-size: 18px;
}



/* .chipotle header{
  position:absolute;
  top:50%;
  background-color: brown;
  min-height:100px;
  
  
}
.chipotle main{
  position:absolute;
  top:50%;
  background-color: brown;
  min-height:100px;
  
  
} */
  
  
  /*
  .chipotle .company{
  background-color:pink;
  max-width: 75%;
  
  
  
  } */




.education { 
  position:absolute;
  background-color:blue;
  top:80%;
  left:25%;
  min-width:75%;
  min-height:20%;
}

.sideTab {
  position:absolute;
  background-color:green;
  min-width:25%;
  min-height:100%;
}
